<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @wiki.markdown_title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @wiki.markdown_body %>
</p>

<p>
  <strong>Private:</strong>
  <%= @wiki.private %>
</p>

<p>
  <strong>User:</strong>
  <%= @wiki.user_id %>
</p>

<p>
  <strong>Collaborators:</strong>
    <% @wiki.collaborators.each do |collaborator| %>
      <%= collaborator.user_id %>
    <% end %>
</p>

<%= link_to 'Edit', edit_wiki_path(@wiki) %> |
<%= link_to 'Back', wikis_path %>
